.parent{
    display: flex;
    flex-wrap: wrap;
    /* width: 39vh; */
    /* flex-direction: row; */
}
.item_card
{
    height: 47vh;
    width: 39vh;
    border: 1px solid black;
    margin: 35px;
}
.item{
    height: 35vh;
    width: 39vh;
    
}
.carDesc{
    height: 12vh;
    width: 39vh;
    border:1px solid red;
    display: flex;
    justify-content: space-around;
}
.btnCart
{
    margin-top: -30px;
    margin-left: 13vh;
    
}